@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*ESTILOS PADRÃO*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.btn-float-action{
    
}

footer a, nav a{
    text-decoration: none;
    color:  rgb(255, 166, 0);
    text-transform: uppercase;
}
nav a:hover{
    color: white;
    transition: color 1s ease;
}

.btn-wp{
  

}


/* NAVBAR */
.navbar{
    background-color: rgb(14, 13, 13);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.btn-pag{
    color: white;
    font-size: 1.1rem;
}
    .btn-pag:hover{
        color: rgb(247, 174, 38);
    }

.logo{
    width: 50%;
}

.btn-style{
    background-color: rgb(255, 166, 0);
    font-size: 100%;
}
    .btn-style:hover{
        background-color: rgb(255, 191, 73);
        transition: background 1s ease;
    }

.header-logo{
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    margin: 0;
}



.navbar-header{
    padding: 0;
    margin: 0;
    width: 100vw;
}


    .menu-header{
        background-color: #2A2F4F;
        width: 100vw;
        
    }
    
  


/* CORPO */
.main-general{
    flex: 1 0 auto;
}

/* SESSÃO ABOUT-ME */ 
.section-aboutme{
    background: url('../img/bg-aboutme.jpg');
    background-size: cover;
    background-position: right;
    height: 100vh;
    display: flex;
    font-size: 80%;
    align-items:flex-start
 
}
    .aboutme-text p{
        color: #2a2f4f;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
    .aboutme-text h3{
        color: #2a2f4f;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
        padding-top:10%;
    }


    .description-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .description-about img{
            width: 5%;
        }
        
/* FIM SECTION ABOUT-ME */

/* SECTION ÁREA DE ATUAÇÃO */
.section-espec{ 
    background-image: url(../img/bg_trab-min.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
}   
/* FIM DA SECTION ÁRREA DE ATUAÇÃO */

/* SECTION EQUIPE */
.section-equip{
    background-image: url('../img/bg_trab-min.jpg');
    height: 100vh;
    background-size: cover;
    display: grid;
    align-items: center;
    
}

    .galery_desktop{
        
    }
    .box-img {
        height: 230px;
        overflow: hidden;
    }
        .box-img img{
            width: 100%;
        }
    .card-galery{
        filter: grayscale(100%);
        overflow: hidden;
        transition: all 0.4s linear;
        cursor: pointer;
       
    }

        .card-galery:hover{
            filter: grayscale(0%);
            transform: scale(1.1);
        }



.foto-advogado{
    position: relative;
    width: 16rem !important;
    overflow: hidden;
}
    .img-advogado{
        width: 100%;

        
    }



/* GALERIA DESKTOP */




    
/* PAREI AQUI */
.box-card:hover { 
   /* transform: translateY(-100px) */
   background-color: black;
   color: white;
}

    .texto-card{
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.842);
        color:  rgb(255, 166, 0);
        width: 89%;
        padding-top: 4%;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        text-align: center;
        transform: translateY(125%);
        transition: transform 1s ease;
    }

     
        
  
/* FIM SECTION EQUIPE */

.card-box-area:hover{
    background-color: black;
    color: white;
    transition: all 1s ease;
}

.foto-depoimento{
    max-width: 10%;
}


.title-section{
    color:  rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.116);
    margin-bottom: 2%;
}

/* Lista de Clientes */
.section_client{
    background-image: url('../img/bg_client-min.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

    .title-client{
        color: #2a2f4f;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
    }


    



/* FOOTER */
footer ul{
   padding: 0;
   margin: 0; 
}
footer li, nav li{
    list-style: none;
    font-size: 70%;
}
footer p{
    margin: 0;
}

.main-footer{
    margin: 0;
    padding: 0;
}

.main-footer-contact{
    display: flex;
    background-color: #454a6e;
    color: white;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}
 

    .footer-contact-address{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        .footer-contact-address address, .contact{
            padding: 1% 0;
            margin: 0;
            font-size: 80%;
            margin: 2% 2%;
            text-align: left;
        }

.main-footer-copy{
    background-color: #2a2f4f;
    font-size: 60%;
    height: 5vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  AJUSTE DE TELA ABAIXO DE 767PX DE LARGURA */
@media screen and (max-width: 767px){
    .section-aboutme{
        font-size: 65%;
        padding: 0 4%;
    }
    .btn-float-action{
        display: block;
    }
    .section-aboutme img{
        display: none;
    }
    .section-espec{   
        background-position: center right;
        overflow: hidden;
    }  
    .navbar-menu{
        justify-content: left !important;
        margin-left: 1%;
    }

    .foto-advogado{
        width: 11rem !important;
        margin-top: 3%;
    }
    .footer-contact-address{
        justify-content: left;
    }
    .footer-contact-address address, .contact{
        margin: 2% 0;
        text-align: left;
    }
    i{
        font-size: 100%;
        color: black;
    }
   
}


.main-sistem{ 
    height: 100vh;
    background-color: rgb(31, 31, 31);
}
    .main-sistem-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4% 0;
        height: auto;
    }
    .data-process{
        margin-top: 3%;
        background-color: brown;
    }